<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>交流论坛 - VPSMate</title>
	<meta http-equiv="X-UA-Compatible" content="IE=10">
	<link href="__PUBLIC__/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<include file="Public/header"/>
<div style="padding:0 0 20px 20px;">
<h4>请复制以下任意一个邀请码进入社区开始注册：</h4>
<div class="well" style="width:250px;margin-top:20px;text-align:center;padding-right:30px;font-size:18px;font-family:'Courier New','Lucida Console','Lucida Sans Typewriter','Consolas';">
<p>087b3835ac410c63</p><p>11277efeaada975f</p><p>55e620359a100a54</p><p>d4e577f9b941b26a</p><p>159befd9d66e3b1e</p></div>
<a class="btn btn-primary btn-large" href="http://bbs.vpsmate.org/">直接进入社区</a>
</div>
<include file="Public/footer"/>
</div>
</body>
</html>