<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>使用手册 - VPSMate</title>
	<meta http-equiv="X-UA-Compatible" content="IE=10">
	<link href="__PUBLIC__/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<include file="Public/header"/>
<div style="padding:0 0 20px 20px;">
	<div style="margin-top:40px">
		<h4>安装</h4>
		<blockquote style="margin-top:20px">
			<p>安装步骤请查看 <a href="install">VPSMate 安装说明</a>。</p>
		</blockquote>
	</div>
	<div style="margin-top:40px">
		<h4>更新</h4>
		<blockquote style="margin-top:20px">
			<p>在 VPSMate 面板中选择“设置”-“版本升级”进行版本更新。</p>
		</blockquote>
	</div>
	<div style="margin-top:40px">
		<h4>卸载</h4>
		<blockquote style="margin-top:20px">
			<p>
				在服务器上运行以下命令即可完成卸载：<br>
				<code># service vpsmate stop</code><br>
				<code># rm -rf /usr/local/vpsmate</code><br>
				<code># rm -f /etc/init.d/vpsmate</code><br>
			</p>
			<p style="margin-top:20px">
				卸载不会影响除 VPSMate 面板外的其它数据。
			</p>
		</blockquote>
	</div>
	<div style="margin-top:40px">
		<h4>忘记用户名或密码</h4>
		<blockquote style="margin-top:20px">
			<p>
				在服务器上运行以下命令即可重置管理员用户名密码：<br>
				<code># /usr/local/vpsmate/config.py username '用户名'</code><br>
				<code># /usr/local/vpsmate/config.py password '密码'</code>
			</p>
		</blockquote>
	</div>
	<div style="margin-top:40px">
		<h4>使用手册目前仍在继续完善，如有疑问可先到<a href="bbs">我们的论坛</a>寻求帮助。</h4>
	</div>
</div>
<include file="Public/footer"/>
</div>
</body>
</html>